
.main{
    height: 100vh;
    background-image: url("images/HERO.jpg");
    filter: grayscale(100%);

}

.menu{
    background-color: rgba(0, 0, 0, 0.414);
    
}

.pages{
    display: flex;
    justify-content: left;

}

.navbar_title{
    font-size: 15px;
    color: white;
    font-weight: 500;
    padding: 15px 15px 15px 15px;
}

header{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.498);
}

.unexpected{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.unexpected_phrase{
    background-color: rgba(0, 0, 0, 0.278);
    font-weight: 400;
}

.services{
    padding: 5% 5% 5% 5%;
    background-color: rgb(65, 204, 255);
    color: white;
}

.col{
    margin: 0;
}

h2{
    padding-top: 10;
}

.trait{
    height: 3px;
    width: 6%;
    background-color: white;
}
